section {
    padding: 20px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero_photo {
    max-width: 400px;
    align-self: center;
    background-image: url("../../public/images/photo_grid.PNG");
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 500px;
}

.hero_header {
    margin-bottom: 16px;
}

.hero_text {
    margin-top: 0;
    max-width: 400px;
}